@model List<DeepCycles.Models.Domain.HandmadeBikes>

@{
}

<div class="bg-secondary bg-opacity-25 py-2 fw-bold">
    <div class="container">
        <h1>View All Bikes</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>BikeName</th>
                    <th>Bike Description</th>
                    <th>Price</th>
                    <th>Delete</th>
                    <th>Edit</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var handmadeBike in Model)
                {
                    <tr>
                        <td>@handmadeBike.BikeName</td>
                        <td>@handmadeBike.BikeDescription</td>
                        <td>@handmadeBike.Price</td>
                        <td>
                            <form asp-action="DeleteBike" method="post">
                                <input type="hidden" name="BikeId" value="@handmadeBike.BikeId" />
                                <button type="submit" class="btn btn-danger">
                                    Delete
                                </button>
                            </form>
                        </td>
                        <td>
                            <a asp-area="" asp-controller="Admin" asp-action="EditBikes"
                               asp-route-id="@handmadeBike.BikeId">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p> No Bookings Found </p>
    }
</div>

<div class="container py-5">
    <div class="mb-3">
        <a class="btn btn-success" asp-area="" asp-controller="Admin" asp-action="AdminPage">Back</a>
    </div>
</div>