@model DeepCycles.Models.Domain.Booking
@{
}

<div class="bg-secondary bg-opacity-25 py-2 fw-bold">
    <div class="container">
        <h1>Please Take A Second To Review Your Booking @Model.FullName </h1>
        <p>(If Anything Looks Incorrect Please Click The Edit Button To Make Any Changes Or To Delete The Request)</p>
    </div>
</div>

<div class="container py-5">
    @if (Model != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id </th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Post Code</th>
                    <th>Booking Title</th>
                    <th>Booking Description</th>
                    <th>Collection And Drop Off Charge</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.BookingId</td>
                    <td>@Model.FullName</td>
                    <td>@Model.Email</td>
                    <td>@Model.PhoneNumber</td>
                    <td>@Model.PostCode</td>
                    <td>@Model.BookingTitle</td>
                    <td>@Model.BookingDescription</td>
                    <td>@Model.CollectionAndDropOffCharge</td>

                    <td>
                        <a asp-area="" asp-controller="Customer" asp-action="EditBooking"
                           asp-route-id="@Model.BookingId">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="mb-3">
            <div class="d-flex">
                <a class="btn btn-success" type="submit" asp-area="" asp-controller="Home" asp-action="HomePage">Submit</a>

                <div asp-action="DeleteBooking" method="post" class="ms-2">
                    <input type="hidden" name="BookingId" value="@Model.BookingId" />
                    <button type="submit" class="btn btn-danger">
                        Delete Booking
                    </button>
                </div>
            </div>
        </div>
    }

    else
    {
        <p> No Bookings Found </p>
        <div class="mb-3">
            <div class="d-flex">
                <a class="btn btn-success ms-md-3 btn btn-success" asp-area="" asp-controller="Home" asp-action="HomePage">Submit</a>
            </div>
        </div>
    }
</div>



